body {
    margin: 0;
    background: #B5E48C;
    padding: 1em;
}

#maincontainer {
    margin: auto; 
    background: #99D98C; 
    border-radius: 1em; 
    padding: 1em; 
    max-width: 70em;
}

.font1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    line-height: 1.3em;
}

.hr1 {
    background-color: black; 
    color: black; 
    border-color: black;
}

.margin1 {
    margin: 0.3em;
}

.link1 {
    color: #313030;
}

.img1 {
    width: 50%;
    object-fit: cover;
    border-radius: 1em;
    margin: 0.3em;
}

.flexbody1 {
    display: flex;
}

.article_box {
    padding: 0.5em;
    border-radius: 1em;
}


@media (max-width: 40em) {
    .img1 {
        width: 100%;
        height: min-content;
        object-fit: contain;
    }

    .flexbody1 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


.bg1 {background: #D9ED92;}
.bg2 {background: #B5E48C;}
.bg3 {background: #99D98C;}
.bg4 {background: #54ce6e;}
.bg5 {background: #52B69A;}
.bg6 {background: #34A0A4;}
.bg7 {background: #168AAD;}
.bg8 {background: #1A759F;}
.bg9 {background: #1E6091;}
.bg10 {background: #184E77;}

.testanimation1 {
    padding: 0.5em;
    background:aqua;
    transition: 1s;
}

.testanimation1:hover {
    background: aquamarine;
    border-radius: 1em;
}

.testanimation2 {
    padding: 0.5em;
    background:aqua;
    transition: 1s ease-in-out;
}

.testanimation2:hover {
    background: aquamarine;
    border-radius: 1em;
}

.testanimation3 {
    padding: 0.5em;
    background:aqua;
    animation: animation_1 1s ease-in-out infinite alternate;
}
@keyframes animation_1 {
    0% {
        background:aqua;
    }
    100% {
        background: aquamarine;
        border-radius: 1em;
    }
}
